Source: ldb
Section: devel
Priority: optional
Maintainer: Jelmer Vernooij <jelmer@samba.org>
Build-Depends: debhelper (>> 5.0.0), quilt (>= 0.40), tdb-dev (>= 1.1.0), libtalloc-dev, libtalloc1 (>= 1.1.0~), pkg-config, libpopt-dev, docbook-xsl, docbook-xml, xsltproc, python-dev, python-support (>= 0.4), swig
Homepage: http://ldb.samba.org/
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.debian.org/pkg-samba/trunk/ldb
XS-DM-Upload-Allowed: yes

Package: libldb0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: LDAP-like embedded database - shared library
 ldb is a LDAP-like embedded database built on top of TDB.
 .
 It provides a fast database with an LDAP-like API designed
 to be used within an application. In some ways it can be seen as a
 intermediate solution between key-value pair databases and a real LDAP
 database.
 .
 This package contains the shared library file.

Package: ldb-tools
Section: utils
Architecture: any
Depends: ${shlibs:Depends}
Description: LDAP-like embedded database - tools
 ldb is a LDAP-like embedded database built on top of TDB.
 .
 What ldb does is provide a fast database with an LDAP-like API designed
 to be used within an application. In some ways it can be seen as a
 intermediate solution between key-value pair databases and a real LDAP
 database.
 .
 This package contains bundled test and utility binaries

Package: libldb-dev
Section: libdevel
Architecture: any
Depends: libc6-dev, libldb0 (= ${binary:Version}), libtalloc-dev, pkg-config
Description: LDAP-like embedded database - development files
 ldb is a LDAP-like embedded database built on top of TDB.
 .
 What ldb does is provide a fast database with an LDAP-like API designed
 to be used within an application. In some ways it can be seen as a
 intermediate solution between key-value pair databases and a real LDAP
 database.
 .
 This package contains the development files.

Package: python-ldb
Section: python
Architecture: any
Depends: ${python:Depends}, libldb0 (= ${binary:Version})
Provides: ${python:Provides}
Description: Python bindings for LDB
 ldb is a LDAP-like embedded database built on top of TDB.
 .
 This package contains the Python bindings.
